@using System.Text.Json
@using ReferralRock.Model
@inject PageModelWithHttpClient PageModelWithHttpClient
@inject NavigationManager NavigationManager
@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Members</h1>

@if (ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

@if (members == null)
{
    <p><em>No members</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nr.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Referrals</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (member, index) in members.Select((r, i) => (r, i)))
            {
                <tr>
                    <td>@(CurrentPage * PageSize + index + 1)</td>
                    <td>@member.DisplayName</td>
                    <td>@member.Email</td>
                    <td>@member.Phone</td>
                    <td>
                        <a href="/referrals/@member.Id">View Referrals</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 0; i < TotalPages; i++)
            {
                int pageNumber = i;
                <li class="page-item @(pageNumber == CurrentPage ? "active" : "")">
                    <a class="page-link" href="#" @onclick="() => LoadPage(pageNumber)">@(i + 1)</a>
                </li>
            }
        </ul>
    </nav>
}

@code {
    private int CurrentPage { get; set; } = 0;
    private int PageSize { get; set; } = 5;
    private List<Member>? members;
    private int TotalPages { get; set; } = 1;
    private string ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadPage(CurrentPage);
    }

    private async Task LoadPage(int page)
    {
        CurrentPage = page;
        MemberApiResponse response = await PageModelWithHttpClient.GetMembers(offset: CurrentPage * PageSize, count: PageSize);
        if (response.Members == null)
        {
            ErrorMessage = response.Message;
        }

        TotalPages = (int)Math.Ceiling((double)response.Total / PageSize);
        members = response.Members;

        StateHasChanged();
    }
}
