@using System.Text.Json
@using ReferralRock.Model
@inject PageModelWithHttpClient PageModelWithHttpClient
@inject NavigationManager NavigationManager
@page "/referrals/{memberId}"
@rendermode InteractiveServer

<PageTitle>Referrals</PageTitle>

<h1>Referrals</h1>

@if (ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

@if (referrals == null)
{
    <p><em>No referrals</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nr.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (referral, index) in referrals.Select((r, i) => (r, i)))
            {
                <tr>
                    <td>@(CurrentPage * PageSize + index + 1)</td>
                    <td>@referral.DisplayName</td>
                    <td>@referral.Email</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => UpdateReferral(referral.Id)">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => DeleteReferral(referral.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 0; i < TotalPages; i++)
            {
                int pageNumber = i;
                <li class="page-item @(pageNumber == CurrentPage ? "active" : "") pointer-cursor">
                    <a class="page-link" @onclick="() => LoadPage(pageNumber)">@(i + 1)</a>
                </li>
            }
        </ul>
    </nav>
}

<button class="btn btn-primary" @onclick="NavigateToAnotherPage">Add new referral</button>

@code {
    [Parameter] public string MemberId { get; set; }
    private List<Referral>? referrals;
    private int CurrentPage { get; set; } = 0;
    private int PageSize { get; set; } = 5;
    private int TotalPages { get; set; } = 1;
    private string ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadPage(CurrentPage);
    }

    private async Task LoadPage(int page)
    {
        CurrentPage = page;
        ReferralApiResponse response = await PageModelWithHttpClient.GetReferrals(memberId: MemberId, offset: CurrentPage * PageSize, count: PageSize);
        if (response.Referrals == null)
        {
            ErrorMessage = response.Message;
        }

        TotalPages = (int)Math.Ceiling((double)response.Total / PageSize);
        referrals = response.Referrals;
    }

    protected void NavigateToAnotherPage()
    {
        NavigationManager.NavigateTo($"referrals/{MemberId}/new", forceLoad: true);
    }

    protected void UpdateReferral(string referralId)
    {
        NavigationManager.NavigateTo($"referrals/{MemberId}/update/{referralId}", forceLoad: true);
    }

    protected async void DeleteReferral(string referralId)
    {
        var response = await PageModelWithHttpClient.DeleteReferral(referralId, MemberId);
        if (response.resultInfo.Status != "Success")
        {
            ErrorMessage = response.resultInfo.Message;
            return;
        }

        NavigationManager.NavigateTo($"referrals/{MemberId}", forceLoad: true);
    }
}
